#headerImg {
    margin-top: 50px;
}

#noScapeHolder {
    padding: 20px;
    background-color: darkslategrey;
    text-align: center;
    font-family: 'Graduate', cursive;
    font-weight: 900px;
    color: lightgray;
    font-size: 24px;
    border: 2px solid red;
}

.scrapedData {
    padding: 20px;
    background-color: darkslategrey;
    text-align: center;
    font-family: 'Graduate', cursive;
    font-weight: 900px;
    color: lightgray;
    font-size: 18px;
    border: 2px solid red;
    text-align: left;
}

#scrapeBut {
    padding: 30px;
    background-color: darkslategrey;
    font-family: 'Graduate', cursive;
    border: 5px solid red;
    color: lightgray;
    margin-top: 15px;
    font-size: 40px;
}

.nav-wrapper {
    background-color: red;
    font-family: 'Graduate', cursive;
    color: darkslategrey;
}

.brand-logo {
    margin-left: 15px;
}

#nav-mobile li {
    margin-right: 15px;
}

.saveButton {
    padding: 10px;
    font-family: 'Graduate', cursive;
    margin-top: 10px;
    border: 2px solid red;
    background-color: lightgrey;
    color: darkslategray;
}

.addNote {
    padding: 10px;
    font-family: 'Graduate', cursive;
    margin-top: 10px;
    border: 2px solid red;
    background-color: lightgrey;
    color: darkslategray;
    margin-left: 40px;
}

.deleteSaved {
    padding: 10px;
    font-family: 'Graduate', cursive;
    margin-top: 10px;
    border: 2px solid red;
    background-color: lightgrey;
    color: darkslategray;
    margin-left: 40px;
}

.modal {
    max-height: 90%;
  }
  
  .modal-form-row {
    margin-bottom: 0px;
  }